# Compilation artifacts
configure
quantlib-config
libtool
aclocal.m4
autom4te.cache
config.log
config.status
config/*
!config/Makefile.am
m4/*.m4
ql/config.hpp
ql/config.hpp.in
ql/stamp-h1
elc-stamp
quantlib.elc
quantlib.pc
QuantLib.spec
CMakeCache.txt
CMakeUserPresets.json
Docs/.time-stamp
Docs/.time-stamp-html
Docs/.time-stamp-online
Docs/.time-stamp-man
Docs/LICENSE.TXT
Docs/reference-*/
Docs/html/
Docs/man/
Examples/*/bin/
Examples/*/build/
Examples/*/*.trs
build/
build2/
lib/

# Build outputs
**/x64/Debug
**/x64/Release
**/Debug
**/Release
**/bin/*.xml
**/bin/*.manifest

# Artifacts created in multiple directories
Makefile
Makefile.in
unity.cpp
unity_*.cpp
testCaseCollection.xml
.deps
.libs
*.la
*.lo
*.o
*.so
.build-stamp
*.exe
*.dll
*.exp
*.lib
*.pdb
*.ilk
*~
*.ncb
*.suo
*.vcproj.*.user
*.vcxproj.user
*.VC.db
*.VC.opendb
*.log
*.sdf
*.opensdf
*.pch
*.idb
*.ipch
CMakeFiles
*.cmake
!cmake/*.cmake
TAGS
.dirstamp

# IDEs
.vs
.vscode
.idea
cmake-build-*
nbproject
.cproject

# User customizations
.dir-locals.el
Build.props
Directory.Build.props
